<div class="h-screen flex items-top justify-center mt-10">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
    <h1 class="text-xl md:text-4xl font-bold  mt-10 mb-10 pb-4 border-b-2 border-stone-400 text-center"><%= t('.title') %></h1>
    <%= form_for @user, :url => password_reset_path(@token), :html => {:method => :put} do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field, mb-10">
        <%= f.label :email %><br />
        <%= @user.email %>
      </div>
      <div class="field">
        <%= f.label :password, "パスワード" %><br />
        <%= f.password_field :password, class: "form-control border border-gray-300 rounded" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: "form-control border border-gray-300 rounded" %>
      </div>
      <div class="actions, mt-10">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
