<div class="navbar bg-orange-200 text-white p-4 top-0 left-0 right-0 z-10">
  <div class="flex-1">
    <%= link_to 'Animal Bliss', root_path, class: "text-xl" %>
  </div>
  <ul class="menu menu-vertical lg:menu-horizontal bg-gray-400 rounded-box">
   <li><%= link_to t('bookmarks.title'), bookmarks_videos_path, class: 'nav-link' %></li>
   <li><%= link_to t('header.video_index'), videos_path, class: "nav-link" %></li>
   <li><%= link_to t('header.video_posting'), new_video_path, class: "nav-link" %></li>
   <li><%= link_to t('header.logout'), logout_path, class: "nav-link", data: { turbo_method: :delete } %></li>
  </ul>
</div>
